.navbar{
    background-color: #333333; 
}

.navbar-nav text{
    color: white;
}
.container{
    /* background-image: url('/mp3-angular/src/assets/index.jpg'); */
    background-color: #F2F2F2; 
    height: 1000px;
    /* width: 100%; */
}
/* .image{
    background-image: url('/mp3-angular/src/assets/index.jpg'); 
    height: 1000px;
} */
.tag1{
    background-color: red;
    width: 300px;
    height: 300px; 
}
.tag2{
    background-color: black;
    width: 400px;
    height: 400px;
}

/* page-footer font-small special-color-dark pt-4 */

.special-color-ligh{
    background-color: rebeccapurple; 
    }
    