<!-- header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/homemp3']" routerLinkActive="router-link-active" >HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" >TOP VIEWS
            PLAYLISTS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TOP VIEWS SONGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TOP LIKES PLAYLISTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TOP LIKES SONGS</a>
        </li>
  
        <li *ngIf="logged" class="nav-link">
          <span (click)="login()">Login</span>
        </li>
        <li *ngIf="logged" class="nav-link">
          <span [routerLink]="['/register']" >Register</span>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" *ngIf=!logged>
            Hi Hai
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/myprofile']" routerLinkActive="router-link-active">Profile</a>
            <a class="dropdown-item" href="#">My Collection</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
  
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- header -->