<div class="justify-content-md-center">
    <div class="col-md-6 offset-md-3 wraper">
        <h1 style="text-align: center">Update-Profile</h1>

        <form [formGroup]="inforForm" (submit)="updateForm()">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="username">Username*</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="username" formControlName="username" placeholder="Sasukem193">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="name">Full Name</label>
                <div class="col-sm-9">
                    <input formControlName="name" type="text" class="form-control" id="name"
                        placeholder="Nguyen Phu Thang">
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="age">Age</label>
                <div class="col-sm-9">
                    <input formControlName="age" type="number" class="form-control" id="age" placeholder="19">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="male" >Gender</label>
                <div class="col-sm-9">
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male"
                            checked>
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" formControlName="gender" id="female" value="female"
                            checked>
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="phone">Phone*</label>
                <div class="col-sm-9">
                <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="+84xxxxxxxxx">
            </div>
            </div>

            <div *ngIf="phone.invalid && phone.touched" class="alert alert-danger">
                <p *ngIf="phone.errors?.required"> Phone is required</p>
                <p *ngIf="phone.errors?.pattern">
                    Phone must start with +84 followed by 9 or 10 digits
                </p>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="email" >Email*</label>
                <div class="col-sm-9">
                <input readonly formControlName="email" type="text" class="form-control-plaintext" id="email" placeholder="Email">
            </div>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary center-block" style="width: 200px; margin-bottom: 20px">UPDATE</button>
            </div>
        </form>
    </div>
</div>